$primary:  #d5e9dd;
$highlight: #154042;
$dark: #11201e;
$basic-font: 'Montserrat', sans-serif;

%flex-row{
  display: flex;
  flex-direction:row;
  align-items:center;
  justify-content:space-between;
}

%flex-column{
  display:flex;
  flex-direction:column;
}

%no-border{
  border:none;
  outline:none;
  background:transparent;
}

button{
    @extend %no-border;
    font-family: $basic-font;
    cursor:pointer;
    font-size:24px;
    color: $dark;
}

h1{
    color: $highlight;
}

input{
    @extend %no-border;
    font-size:24px;
    font-family: $basic-font;
    min-width:121px;
    width:95%;
    padding-left:10px;
}

.wrap { 
    white-space: pre-wrap;      /* CSS3 */   
    white-space: -moz-pre-wrap; /* Firefox */    
    white-space: -pre-wrap;     /* Opera <7 */   
    white-space: -o-pre-wrap;   /* Opera 7 */    
    word-wrap: break-word;      /* IE */
 }

.App{
    @extend %flex-column;
    text-align:center;
    align-items:center;
    padding:5%;
    color: $dark;
    width: 100%;
    font-family: $basic-font;
    font-size:24px;
}

.Main{
    @extend %flex-column;
    background: $primary;
    box-shadow: 5px 5px 5px $dark;
    padding:5%;
    border-radius: 5px;
    width: 100%;
}

.item-input{
    @extend %flex-row;
    width:100%;
    background:white;
    border-radius: 5px 5px 0px 0px;
}

.items-container{
    @extend %flex-column;
    background:white;
    border-radius: 0px 0px 5px 5px;
    width:100%;
}

.item{
    @extend %flex-row;
    border-top: solid 1px $primary;
}
.item-title{
    max-width:70%;
    min-width: 36px;
    text-align:left;
    padding-left:10px;
}

.controls{
    @extend %flex-row;
}

.error-message{
    color:$highlight;
}

