$mocha: #514c4a;
$orange: #c78a44;
$base:#dad5d2;

%flex-row{
    display:flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    font-family: 'Saira', sans-serif;
    color: $mocha;
}

%flex-column{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 18px;
    width:100%;
}

%no-border{
    background: transparent;
    border:none;
    outline: none;
    color: $mocha;
}

.App{
    @extend %flex-column;
    font-family: 'Saira', sans-serif;
    color: $mocha;
    width: 80%;
    max-width: 500px;
    border-radius: 5px;
}

.TodosContainer{
    @extend %flex-column;
    background-color: white;
    border-radius: 3px;
    box-shadow: 5px 5px 5px $mocha;
}

.TodoItemContainer{
    @extend %flex-row;
    justify-content: space-between;
}

.TaskInputContainer{
    @extend %flex-row;
    justify-content: space-between;
}

input{
    @extend %no-border;
    padding-left: 5px;
    font-size: 18px;
}

h1{
    color: $orange;
    font-family: 'Dancing Script', cursive;
    font-size: 48px;
}

button{
    @extend %no-border;
    padding: 0%;
    font-size: 14px;
    margin-left: 4px;
    padding-left:5px;
    padding-right: 5px;
}

.Controls{
    @extend %flex-row;
    justify-content: space-between;
}

.control-buttons{
    @extend %flex-row;
    justify-content: space-evenly;
    width:33%;
}

